@import "~bootstrap/dist/css/bootstrap.min.css";
.card {
  display: inline-block;
  background: white;
  margin: auto;
  height: 400px;
  width: 250px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  position: relative;
}
.card-symbol-top {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 70px;
}
.card-number {
  text-align: center;
}
.card-symbol-bottom {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 70px;
}
